/* Colors */
/* Fonts */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #5e5e5f;
  background: #ffffff;
}
#notes-list ul,
#notes-list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #5c196b;
}
a:hover {
  color: #80d4f6;
}
a.btn-default {
  color: #ffffff;
  background: #80d4f6;
  border: none;
}
a.btn-default:hover,
a.btn-default:active,
a.btn-default:focus {
  color: #ffffff !important;
  background: #5c196b !important;
  border: none !important;
}
a.btn-logout {
  background: #dddddd;
  color: #5e5e5f;
}
p {
  text-align: justify;
  padding: 5px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-weight: 700;
}
#footer {
  border-top: 1px solid #f1f1f1;
  padding-top: 10px;
  margin-top: 50px;
}
#footer p {
  margin: 2px 0 3px;
  padding: 0;
  text-align: center;
  font-size: 0.85em;
  color: #444;
}
/* Login page */
#login-block {
  margin-top: 100px;
  text-align: justify;
}
#login-block input {
  margin: 10px 0;
}
#login-block p {
  font-size: 16px;
}
#logo {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
#logo img {
  width: 150px;
}
/* Notes page */
#notes-list,
#note-container,
#note-preview-container {
  padding: 10px;
}
#notes-list ul {
  margin-top: 10px;
}
#notes-list li {
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
#notes-list li span.remove {
  display: none;
  color: #bbb;
  font-size: 20px;
  cursor: pointer;
}
#notes-list li span.remove:hover {
  color: #666;
}
#notes-list li span.preview {
  font-size: 12px;
  color: #aaa;
}
#notes-list .actions {
  text-align: center;
}
#note-container {
  margin: 0 10px 10px 20px;
}
#note-container input,
#note-container textarea {
  width: 100%;
  background: transparent;
  border: none;
}
#note-container input {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}
#note-container textarea {
  height: 300px;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  background: #f4f5f6;
}
#note-preview-container {
  display: none;
  margin: 0 10px 10px 20px;
}
#note-preview-container h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 0;
}
#note-preview-container p {
  background: #f4f5f6;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
}
