<% include header %>
<div class="row">
	<div class="col-sm-12 col-md-4 col-md-offset-4" id="login-block">
    <div id="logo">
      <img src="./assets/img/logo.png" alt="Mellon" />
      <h1>mellon</h1>
    </div>
		<form class="form-login" method="post" action="login">
			<p>Speak, Friend, and enter.</p>
	 		<input type="password" name="passphrase" id="passphrase" class="form-control input-lg" placeholder="Passphrase">
		 	<a href="#" class="form-submit"><span class="glyphicon glyphicon-ok" /></a>
			<p class="form-error bg-danger">Please enter a passphrase.</p>
		</form>
    <p>Mellon is a secured note webapp. Secured, because all the stored informations are encrypted with the passphrase provided.</p>
    <p>This passphrase is never stored, so you are the only one to know it. By contrast, if you lose it, you will never get your data back ;-)</p>
	</div>
</div>
<% include footer %>
